# A2 INE5405 - Probabilidade e Estatística
## Teste de Hipóteses com Dados da COVID-19 no Brasil: 2020 vs. 2024
- (a) Escolher um tema de sua área, ou de sua preferência (é recomendado manter o tema utilizado
no trabalho 1 para facilitar o desenvolvimento das atividades).
- (b) Selecionar, no mínimo, quatro variáveis de interesse, seguindo as mesmas recomendações do
trabalho 1, sendo possível manter as variáveis já apresentadas.
- (c) Fazer uma breve descrição dos dados, calculando estatísticas descritivas (utilizar estimativas
pontuais e intervalares especialmente para média e proporção, quando for o caso).
- (d) Levantar pelo menos duas hipóteses envolvendo os dados em análise.
- (e) Construir os testes de hipóteses e executá-los com base nos dados, discutindo os resultados.
- (f) Apresentar as conclusões com base nas estatísticas descritivas e testes estatísticos realizados

In [1]:
# Importar bibliotecas necessárias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable as stb

# Configurar pandas
pd.set_option('display.max_rows', 100)

In [2]:
# Carregar dados do exercício anterior 
df = pd.read_parquet('data/a1_dados_covid.parquet')
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2996660 entries, 4551 to 427043
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   data               datetime64[ns]
 1   regiao             object
 2   estado             object
 3   municipio          object
 4   populacaoTCU2019   float64
 5   obitosAcumulado    int64
 6   obitosNovos        int64
 7   ano                int32
 8   mes                object
 9   percentual_obitos  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(4)
memory usage: 240.1+ MB

## Variáveis escolhidas:
- data (para ordenação)
- regiao
- estado
- municipio 
- populacaoTCU
- obitosAcumulado
- obitosNovos
- ano (para comparação)
- percentual_obitos

## Estatísticas descritivas

In [3]:
df.stb.missing(style=True)

### tratamento de distância interquartílica para gráficos

In [4]:
q1 = df['obitosAcumulado'].quantile(0.25)
q3 = df['obitosAcumulado'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr
df_plot_acc = df[(df['obitosAcumulado'] > lower_bound) & (df['obitosAcumulado'] < upper_bound)]

In [5]:
df[['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos  percentual_obitos
count     2.996660e+06  2.996660e+06       2.996660e+06
mean      7.042710e+01  6.648035e-02       1.430992e-01
std       6.687656e+02  7.655450e+01       3.238256e-01
min       0.000000e+00 -4.567100e+04       0.000000e+00
25%       1.000000e+00  0.000000e+00       7.633711e-03
50%       8.000000e+00  0.000000e+00       7.609696e-02
75%       3.100000e+01  0.000000e+00       2.393322e-01
max       4.602400e+04  4.567100e+04       1.283539e+02

In [6]:
df[df['ano'] == 2020][['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos  percentual_obitos
count     1.559600e+06  1.559600e+06       1.559600e+06
mean      1.776725e+01  1.248089e-01       2.522536e-02
std       2.168569e+02  7.231061e+01       3.967055e-02
min       0.000000e+00 -4.095300e+04       0.000000e+00
25%       0.000000e+00  0.000000e+00       0.000000e+00
50%       1.000000e+00  0.000000e+00       9.652510e-03
75%       6.000000e+00  0.000000e+00       3.887475e-02
max       4.585400e+04  4.118000e+04       1.508496e+01

In [7]:
df[df['ano'] == 2024][['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos  percentual_obitos
count     1.437060e+06  1.437060e+06       1.437060e+06
mean      1.275773e+02  3.178016e-03       2.710243e-01
std       9.355853e+02  8.090876e+01       4.307158e-01
min       0.000000e+00 -4.567100e+04       0.000000e+00
25%       1.200000e+01  0.000000e+00       1.619433e-01
50%       2.600000e+01  0.000000e+00       2.450980e-01
75%       6.400000e+01  0.000000e+00       3.519697e-01
max       4.602400e+04  4.567100e+04       1.283539e+02

In [8]:
# Agrupar por municipio e selecionar os top 10
top_mun_2020 = df[df['ano'] == 2020].groupby('municipio').agg({'percentual_obitos':'sum'}).nlargest(10,'percentual_obitos').reset_index()
top_mun_2020

              municipio  percentual_obitos
0          Areia Branca          55.027072
1                 Belém          53.057458
2         São Francisco          50.038369
3               Charrua          49.862763
4                Itambé          49.186588
5           Água Branca          48.132930
6        Gastão Vidigal          48.128120
7              Sapucaia          41.578290
8  Pimenteiras do Oeste          40.986630
9    Presidente Kennedy          38.541767

In [9]:
# óbitos por municipio em 2024
# Agrupar por municipio e selecionar os top 10
top_mun_2024 = df[df['data'] == '2024-09-14'].groupby('municipio').agg({'percentual_obitos':'max'}).nlargest(10,'percentual_obitos').reset_index()
top_mun_2024

             municipio  percentual_obitos
0   Santa Rita d'Oeste           2.001601
1     Estrela do Norte           1.482285
2  Santa Clara d'Oeste           1.229314
3           Embu-Guaçu           1.116956
4            Meridiano           1.094891
5               Parisi           0.925497
6        Campos Verdes           0.887436
7               Pirapó           0.868056
8               Itaúba           0.867964
9            Macedônia           0.865333

### Tabelas de frequência

In [10]:
df.stb.freq(['regiao'], style=True)

In [11]:
df.stb.freq(['estado'], style=True)

In [12]:
# Tabela de frequência para a variável 'regiao' e total de óbitos
df[df['data'] == '2024-09-14'].stb.freq(['regiao'],value='obitosAcumulado',style=True)

In [13]:
df[df['data'] == '2024-09-14'].obitosAcumulado.sum()

np.int64(712287)

In [14]:
# Obitos em 2020 por regiao
df[df['ano'] == 2020].stb.freq(['regiao'], value='obitosNovos',style=True)

In [15]:
# Obitos em 2024 por regiao
df[df['ano'] == 2024].stb.freq(['regiao'], value='obitosNovos',style=True)

In [16]:
df[df['ano'] == 2020].obitosNovos.sum()

np.int64(194652)

In [17]:
df[df['ano'] == 2024].obitosNovos.sum()

np.int64(4567)

In [18]:
# Total de obitos por estado
df[df['data'] == '2024-09-14'].stb.freq(['estado'],value='obitosAcumulado',style=True)

In [19]:
# Total de obitos por estado em 2020
df[df['ano'] == 2020].stb.freq(['estado'],value='obitosNovos',style=True)

In [20]:
# Total de obitos por estado em 2024
df[df['ano'] == 2024].stb.freq(['estado'],value='obitosNovos',style=True)

In [21]:
# Total de obitos por municipio (top 10)
df[df['data'] == '2024-09-14'].stb.freq(['municipio'],value='obitosAcumulado',thresh = 22,style=True)

## **Com base nas informações obtidas, formular hipóteses:**

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

> ![Níveis de Confiança e significância](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img001.png)

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img013.png' width=90%>

### 1a Hipótese: a média de óbitos na região sudeste é superior à média amostral
#### Existe evidência suficiente no nível α = 0.05 para concluir que a média de óbitos da região sudeste é superior à média de todas as regiões?

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

In [22]:

dados_sem_sudeste = df[(df['data'] == '2024-09-14') & (df['regiao'] != "Sudeste")]
dados_sudeste = df[(df['data'] == '2024-09-14') & (df['regiao'] == "Sudeste")]

dados_sudeste.head()

,data,regiao,estado,municipio,populacaoTCU2019,obitosAcumulado,obitosNovos,ano,mes,percentual_obitos
173735,2024-09-14,Sudeste,MG,Abadia dos Dourados,6989.0,21,0,2024,September,0.300472
173811,2024-09-14,Sudeste,MG,Abaeté,23237.0,50,0,2024,September,0.215174
173887,2024-09-14,Sudeste,MG,Abre Campo,13454.0,19,0,2024,September,0.141222
173963,2024-09-14,Sudeste,MG,Acaiaca,3994.0,12,0,2024,September,0.300451
174039,2024-09-14,Sudeste,MG,Açucena,9470.0,39,0,2024,September,0.411827

In [23]:
dados_sem_sudeste.head()

,data,regiao,estado,municipio,populacaoTCU2019,obitosAcumulado,obitosNovos,ano,mes,percentual_obitos
2279,2024-09-14,Norte,RO,Alta Floresta D'Oeste,22945.0,85,0,2024,September,0.370451
2355,2024-09-14,Norte,RO,Ariquemes,107863.0,570,0,2024,September,0.528448
2431,2024-09-14,Norte,RO,Cabixi,5312.0,23,0,2024,September,0.432982
2507,2024-09-14,Norte,RO,Cacoal,85359.0,364,0,2024,September,0.426434
2583,2024-09-14,Norte,RO,Cerejeiras,16323.0,74,0,2024,September,0.453348

In [24]:
dados_sem_sudeste.shape[0]

3902

### **Passo 2** - escolha da distribuição amostral adequada

### O tamanho da amostra é maior que 30?
#### Resp.: Sim

### O desvio padrão populacional é conhecido?
#### Resp.: Não

### **Passo 3** - fixação da significância do teste ($\alpha$)

In [25]:
media_amostral = dados_sudeste['obitosAcumulado'].mean()
media = dados_sem_sudeste['obitosAcumulado'].mean()
desvio_padrao_amostral = dados_sudeste['obitosAcumulado'].std()


significancia = 0.05
confianca = 1 - significancia
n = df[(df['regiao'] == "Sudeste") & (df['data'] == '2024-09-14')].shape[0]
print(media, media_amostral, desvio_padrao_amostral,n)

94.46796514607894 206.03896882494004 1541.097248240522 1668

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$z = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}}$$

### Critério do $p-valor$ 
> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

In [26]:
from scipy.stats import norm
z = (media_amostral - media)/(desvio_padrao_amostral/np.sqrt(n))
z_alpha = norm.ppf(confianca)
p_valor = 2 * norm.sf(abs(z))
print(p_valor)
print("Z: ", z)
print("Z alpha: ",-z_alpha)
print("Z >= Z_alpha? ", (z>=z_alpha))
print("P_valor < Significancia? ", p_valor < significancia)
print("Hipotese nula rejeitada. A média de óbitos da região sudeste É superior a média de óbitos do resto do país")

0.0031086773445038415
Z:  2.9567820846754707
Z alpha:  -1.6448536269514722
Z >= Z_alpha?  True
P_valor < Significancia?  True
Hipotese nula rejeitada. A média de óbitos da região sudeste É superior a média de óbitos do resto do país

In [27]:
from statsmodels.stats.weightstats import ztest
z, pvalor= ztest(dados_sudeste['obitosAcumulado'],value = media,alternative='larger')

In [28]:
pvalor < significancia

np.True_

### 2a hipótese: O número de mortes no inverno de 2020 foi maior que nas outras estações
#### Existe evidência suficiente no nível α = 0.05 para concluir que o número de óbitos entre 20 de junho e 22 de setembro de 2020 correspondem a 25% ou mais dos óbitos do ano?

In [29]:

comeco_inverno = df[(df['data'] == '2020-06-20')]
fim_inverno = df[(df['data'] == '2020-09-22')]

comeco_inverno = comeco_inverno.reset_index()['obitosAcumulado']
fim_inverno = fim_inverno.reset_index()['obitosAcumulado']

mortes_durante_inverno = fim_inverno.sum() - comeco_inverno.sum()

In [30]:
total_ano = df[(df['data'] == '2020-12-31')]
mortes_total = total_ano.reset_index()['obitosAcumulado']

p_observada = mortes_durante_inverno / mortes_total.sum()
p_observada

np.float64(0.45223270246388425)

In [31]:
from statsmodels.stats.proportion import proportions_ztest

# Definir o tamanho da amostra
n = fim_inverno.shape[0] #número de amostra

# Definir a proporção esperada (p0)
# Considerando que tem 4 estações no ano, o esperado seria que 1/4 das mortes ocorresse em cada estação, portanto:
p0 = 0.25

# Realizar o teste de proporção
z = (p_observada - p0)/np.sqrt((p_observada*(1-p_observada))/n)
z

np.float64(30.32494001330274)

In [32]:
significancia = 0.05
confianca = 1 - significancia/2

In [33]:
from scipy.stats import norm
z_alpha = norm.ppf(confianca)
p_valor = 2 * norm.sf(abs(z))
print("Z: ", z)
print("Z alpha: ",z_alpha)
print("Z <= - Z_alpha ou Z >= Z_alpha? ", z <=- z_alpha or z>= z_alpha)
print("P_valor < Significancia? ", p_valor < significancia)
print("Hipotese nula rejeitada. Há evidência que houveram mais mortes no inverno de 2020 do que em outras estações")

Z:  30.32494001330274
Z alpha:  1.959963984540054
Z <= - Z_alpha ou Z >= Z_alpha?  True
P_valor < Significancia?  True
Hipotese nula rejeitada. Há evidência que houveram mais mortes no inverno de 2020 do que em outras estações

In [40]:
# Agregar os dados por município
municipio_data = df.groupby('municipio').agg(
    populacao_total=('populacaoTCU2019', 'sum'),
    obitos_acumulados=('obitosAcumulado', 'sum')
).reset_index()

# Extrair as variáveis
x = municipio_data['populacao_total']
y = municipio_data['obitos_acumulados']

# Número de municípios
n = len(x)

# Cálculos necessários para a fórmula
sum_x = x.sum()
sum_y = y.sum()
sum_xy = (x * y).sum()
sum_x2 = (x ** 2).sum()
sum_y2 = (y ** 2).sum()

# Aplicando a fórmula de Pearson
numerador = n * sum_xy - (sum_x * sum_y)
denominador = ((n * sum_x2 - sum_x**2) * (n * sum_y2 - sum_y**2))**0.5

correlacao_pearson = numerador / denominador

z = (correlacao_pearson * np.sqrt(n-2))/np.sqrt(1-(correlacao_pearson**2))
p_valor = 2 * (1 - norm.cdf(abs(z)))
print(z,p_valor)

print(f"Correlação de Pearson: {correlacao_pearson:.4f}")
print("Há uma forte correlação entre a população de um município e o número de óbitos")

348.64546359127496 0.0
Correlação de Pearson: 0.9789
Há uma forte correlação entre a população de um município e o número de óbitos

In [47]:
df[df['data'] == '2024-09-14'].stb.freq(['municipio'],value='obitosAcumulado',thresh = 22,style=True)

In [46]:
df[df['data'] == '2024-09-14'].stb.freq(['municipio'],value='populacaoTCU2019',thresh = 22,style=True)