# A2 INE5405 - Probabilidade e Estatística
## Teste de Hipóteses com Dados da COVID-19 no Brasil: 2020 vs. 2024
- (a) Escolher um tema de sua área, ou de sua preferência (é recomendado manter o tema utilizado
no trabalho 1 para facilitar o desenvolvimento das atividades).
- (b) Selecionar, no mínimo, quatro variáveis de interesse, seguindo as mesmas recomendações do
trabalho 1, sendo possível manter as variáveis já apresentadas.
- (c) Fazer uma breve descrição dos dados, calculando estatísticas descritivas (utilizar estimativas
pontuais e intervalares especialmente para média e proporção, quando for o caso).
- (d) Levantar pelo menos duas hipóteses envolvendo os dados em análise.
- (e) Construir os testes de hipóteses e executá-los com base nos dados, discutindo os resultados.
- (f) Apresentar as conclusões com base nas estatísticas descritivas e testes estatísticos realizados

In [1]:
# Importar bibliotecas necessárias
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable as stb

# Configurar pandas
pd.set_option('display.max_rows', 100)

In [4]:
# Carregar dados do exercício anterior 
df = pd.read_parquet('data/a1_dados_covid.parquet')
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2996660 entries, 4551 to 427043
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   data               datetime64[ns]
 1   regiao             object
 2   estado             object
 3   municipio          object
 4   populacaoTCU2019   float64
 5   obitosAcumulado    int64
 6   obitosNovos        int64
 7   ano                int32
 8   mes                object
 9   percentual_obitos  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(4)
memory usage: 240.1+ MB

## Variáveis escolhidas:
- data (para ordenação)
- regiao
- estado
- municipio 
- populacaoTCU
- obitosAcumulado
- obitosNovos
- ano (para comparação)
- percentual_obitos

## Estatísticas descritivas

In [5]:
df.stb.missing(style=True)

### tratamento de distância interquartílica para gráficos

In [21]:
q1 = df['obitosAcumulado'].quantile(0.25)
q3 = df['obitosAcumulado'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr
df_plot_acc = df[(df['obitosAcumulado'] > lower_bound) & (df['obitosAcumulado'] < upper_bound)]

In [26]:
df[['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos  percentual_obitos
count     2.996660e+06  2.996660e+06       2.996660e+06
mean      7.042710e+01  6.648035e-02       1.430992e-01
std       6.687656e+02  7.655450e+01       3.238256e-01
min       0.000000e+00 -4.567100e+04       0.000000e+00
25%       1.000000e+00  0.000000e+00       7.633711e-03
50%       8.000000e+00  0.000000e+00       7.609696e-02
75%       3.100000e+01  0.000000e+00       2.393322e-01
max       4.602400e+04  4.567100e+04       1.283539e+02

In [27]:
df[df['ano'] == 2020][['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos  percentual_obitos
count     1.559600e+06  1.559600e+06       1.559600e+06
mean      1.776725e+01  1.248089e-01       2.522536e-02
std       2.168569e+02  7.231061e+01       3.967055e-02
min       0.000000e+00 -4.095300e+04       0.000000e+00
25%       0.000000e+00  0.000000e+00       0.000000e+00
50%       1.000000e+00  0.000000e+00       9.652510e-03
75%       6.000000e+00  0.000000e+00       3.887475e-02
max       4.585400e+04  4.118000e+04       1.508496e+01

In [ ]:
df[df['ano'] == 2024][['obitosAcumulado','obitosNovos','percentual_obitos']].describe()

       obitosAcumulado   obitosNovos
count     1.437060e+06  1.437060e+06
mean      1.275773e+02  3.178016e-03
std       9.355853e+02  8.090876e+01
min       0.000000e+00 -4.567100e+04
25%       1.200000e+01  0.000000e+00
50%       2.600000e+01  0.000000e+00
75%       6.400000e+01  0.000000e+00
max       4.602400e+04  4.567100e+04

In [28]:
# Agrupar por municipio e selecionar os top 10
top_mun_2020 = df[df['ano'] == 2020].groupby('municipio').agg({'percentual_obitos':'sum'}).nlargest(10,'percentual_obitos').reset_index()
top_mun_2020

              municipio  percentual_obitos
0          Areia Branca          55.027072
1                 Belém          53.057458
2         São Francisco          50.038369
3               Charrua          49.862763
4                Itambé          49.186588
5           Água Branca          48.132930
6        Gastão Vidigal          48.128120
7              Sapucaia          41.578290
8  Pimenteiras do Oeste          40.986630
9    Presidente Kennedy          38.541767

In [29]:
# óbitos por municipio em 2024
# Agrupar por municipio e selecionar os top 10
top_mun_2024 = df[df['data'] == '2024-09-14'].groupby('municipio').agg({'percentual_obitos':'max'}).nlargest(10,'percentual_obitos').reset_index()
top_mun_2024

             municipio  percentual_obitos
0   Santa Rita d'Oeste           2.001601
1     Estrela do Norte           1.482285
2  Santa Clara d'Oeste           1.229314
3           Embu-Guaçu           1.116956
4            Meridiano           1.094891
5               Parisi           0.925497
6        Campos Verdes           0.887436
7               Pirapó           0.868056
8               Itaúba           0.867964
9            Macedônia           0.865333

### Tabelas de frequência

In [30]:
df.stb.freq(['regiao'], style=True)

In [31]:
df.stb.freq(['estado'], style=True)

In [32]:
# Tabela de frequência para a variável 'regiao' e total de óbitos
df[df['data'] == '2024-09-14'].stb.freq(['regiao'],value='obitosAcumulado',style=True)

In [33]:
df[df['data'] == '2024-09-14'].obitosAcumulado.sum()

np.int64(712287)

In [34]:
# Obitos em 2020 por regiao
df[df['ano'] == 2020].stb.freq(['regiao'], value='obitosNovos',style=True)

In [35]:
# Obitos em 2024 por regiao
df[df['ano'] == 2024].stb.freq(['regiao'], value='obitosNovos',style=True)

In [36]:
df[df['ano'] == 2020].obitosNovos.sum()

np.int64(194652)

In [37]:
df[df['ano'] == 2024].obitosNovos.sum()

np.int64(4567)

In [38]:
# Total de obitos por estado
df[df['data'] == '2024-09-14'].stb.freq(['estado'],value='obitosAcumulado',style=True)

In [39]:
# Total de obitos por estado em 2020
df[df['ano'] == 2020].stb.freq(['estado'],value='obitosNovos',style=True)

In [40]:
# Total de obitos por estado em 2024
df[df['ano'] == 2024].stb.freq(['estado'],value='obitosNovos',style=True)

In [41]:
# Total de obitos por municipio (top 10)
df[df['data'] == '2024-09-14'].stb.freq(['municipio'],value='obitosAcumulado',thresh = 22,style=True)

## **Com base nas informações obtidas, formular hipóteses:**

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img003.png' width=70%>

> ![Níveis de Confiança e significância](https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img001.png)

<img src='https://caelum-online-public.s3.amazonaws.com/1229-estatistica-parte3/01/img013.png' width=90%>

### 1a Hipótese: a média de óbitos na região sudeste é superior à média amostral
#### Existe evidência suficiente no nível α = 0.05 para concluir que a média de óbitos da região sudeste é superior à média de todas as regiões?

### **Passo 1** - formulação das hipóteses $H_0$ e $H_1$

#### <font color='red'>Lembre-se, a hipótese nula sempre contém a alegação de igualdade</font>

### $H_0: \mu = x$

### $H_1: \mu \neq x$

### **Passo 2** - escolha da distribuição amostral adequada

### O tamanho da amostra é maior que 30?
#### Resp.: Sim

### O desvio padrão populacional é conhecido?
#### Resp.: Não

### **Passo 3** - fixação da significância do teste ($\alpha$)

### **Passo 4** - cálculo da estatística-teste e verificação desse valor com as áreas de aceitação e rejeição do teste

# $$z = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}}$$

### Critério do $p-valor$ 

> ### Teste Bicaudal
> ### Rejeitar $H_0$ se o valor $p\leq\alpha$

### 2a hipótese: após a vacinação, a média de óbitos da região sudeste diminuiu em pelo menos 40%, considerando o período após a vacinação a partir de 2022.
#### Existe evidência suficiente no nível α = 0.05 para concluir que a média de óbitos na região sudeste a partir de 2022 é pelo menos 40% menor que a média no período de 2020-2022?